@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?22681237');
  src: url('../font/fontello.eot?22681237#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?22681237') format('woff2'),
       url('../font/fontello.woff?22681237') format('woff'),
       url('../font/fontello.ttf?22681237') format('truetype'),
       url('../font/fontello.svg?22681237#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22681237#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ascending:before { content: '\e800'; } /* '' */
.icon-calander-view:before { content: '\e801'; } /* '' */
.icon-checked:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-collapse-panel:before { content: '\e804'; } /* '' */
.icon-compact-view:before { content: '\e805'; } /* '' */
.icon-descending:before { content: '\e806'; } /* '' */
.icon-detailed-view:before { content: '\e807'; } /* '' */
.icon-device-name:before { content: '\e808'; } /* '' */
.icon-device-tag:before { content: '\e809'; } /* '' */
.icon-dropdown-collapse:before { content: '\e80a'; } /* '' */
.icon-dropdown-expand:before { content: '\e80b'; } /* '' */
.icon-expand-panel:before { content: '\e80c'; } /* '' */
.icon-firmware:before { content: '\e80d'; } /* '' */
.icon-grid-view:before { content: '\e80e'; } /* '' */
.icon-groups:before { content: '\e80f'; } /* '' */
.icon-hdmi:before { content: '\e810'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-ip-address:before { content: '\e812'; } /* '' */
.icon-macro-recall:before { content: '\e813'; } /* '' */
.icon-matrix-switching:before { content: '\e814'; } /* '' */
.icon-password:before { content: '\e815'; } /* '' */
.icon-rs232:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-setup:before { content: '\e818'; } /* '' */
.icon-simple-view:before { content: '\e819'; } /* '' */
.icon-tools:before { content: '\e81a'; } /* '' */
.icon-username:before { content: '\e81b'; } /* '' */
.icon-view:before { content: '\e81c'; } /* '' */
.icon-window-view:before { content: '\e81d'; } /* '' */
.icon-change-password:before { content: '\e81e'; } /* '' */
.icon-logout:before { content: '\e81f'; } /* '' */
.icon-reboot:before { content: '\e820'; } /* '' */
.icon-send-receive:before { content: '\e821'; } /* '' */
.icon-tools_1:before { content: '\e822'; } /* '' */
.icon-videowall:before { content: '\e823'; } /* '' */
.icon-webpage:before { content: '\e824'; } /* '' */
.icon-add-user:before { content: '\e825'; } /* '' */
.icon-copy:before { content: '\e826'; } /* '' */
.icon-delete:before { content: '\e827'; } /* '' */
.icon-edit:before { content: '\e828'; } /* '' */
.icon-export-data:before { content: '\e829'; } /* '' */
.icon-import-data:before { content: '\e82a'; } /* '' */
.icon-collapse-options:before { content: '\e82b'; } /* '' */
.icon-expand-options:before { content: '\e82c'; } /* '' */
.icon-no-input:before { content: '\e82d'; } /* '' */
.icon-snapshot:before { content: '\e82e'; } /* '' */
.icon-start-recording:before { content: '\e82f'; } /* '' */
.icon-stop-recording:before { content: '\e830'; } /* '' */
.icon-alerts:before { content: '\e831'; } /* '' */
