
.icon-ascending:before { content: '\e800'; } /* '' */
.icon-calander-view:before { content: '\e801'; } /* '' */
.icon-checked:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-collapse-panel:before { content: '\e804'; } /* '' */
.icon-compact-view:before { content: '\e805'; } /* '' */
.icon-descending:before { content: '\e806'; } /* '' */
.icon-detailed-view:before { content: '\e807'; } /* '' */
.icon-device-name:before { content: '\e808'; } /* '' */
.icon-device-tag:before { content: '\e809'; } /* '' */
.icon-dropdown-collapse:before { content: '\e80a'; } /* '' */
.icon-dropdown-expand:before { content: '\e80b'; } /* '' */
.icon-expand-panel:before { content: '\e80c'; } /* '' */
.icon-firmware:before { content: '\e80d'; } /* '' */
.icon-grid-view:before { content: '\e80e'; } /* '' */
.icon-groups:before { content: '\e80f'; } /* '' */
.icon-hdmi:before { content: '\e810'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-ip-address:before { content: '\e812'; } /* '' */
.icon-macro-recall:before { content: '\e813'; } /* '' */
.icon-matrix-switching:before { content: '\e814'; } /* '' */
.icon-password:before { content: '\e815'; } /* '' */
.icon-rs232:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-setup:before { content: '\e818'; } /* '' */
.icon-simple-view:before { content: '\e819'; } /* '' */
.icon-tools:before { content: '\e81a'; } /* '' */
.icon-username:before { content: '\e81b'; } /* '' */
.icon-view:before { content: '\e81c'; } /* '' */
.icon-window-view:before { content: '\e81d'; } /* '' */
.icon-change-password:before { content: '\e81e'; } /* '' */
.icon-logout:before { content: '\e81f'; } /* '' */
.icon-reboot:before { content: '\e820'; } /* '' */
.icon-send-receive:before { content: '\e821'; } /* '' */
.icon-tools_1:before { content: '\e822'; } /* '' */
.icon-videowall:before { content: '\e823'; } /* '' */
.icon-webpage:before { content: '\e824'; } /* '' */
.icon-add-user:before { content: '\e825'; } /* '' */
.icon-copy:before { content: '\e826'; } /* '' */
.icon-delete:before { content: '\e827'; } /* '' */
.icon-edit:before { content: '\e828'; } /* '' */
.icon-export-data:before { content: '\e829'; } /* '' */
.icon-import-data:before { content: '\e82a'; } /* '' */
.icon-collapse-options:before { content: '\e82b'; } /* '' */
.icon-expand-options:before { content: '\e82c'; } /* '' */
.icon-no-input:before { content: '\e82d'; } /* '' */
.icon-snapshot:before { content: '\e82e'; } /* '' */
.icon-start-recording:before { content: '\e82f'; } /* '' */
.icon-stop-recording:before { content: '\e830'; } /* '' */
.icon-alerts:before { content: '\e831'; } /* '' */
